.form_container {

  margin: 0 auto;
  max-width: 500px;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;

  .form_info {
    background-color: burlywood;
    color: blueviolet;
  }

  input[type=text],
  input[type=email],
  :focus {
    background-color: rgb(208, 220, 224);
  }

  select {
    width: 100%;
    width: 100px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
}
