form {
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;

  button {
    color: aliceblue;
  }

  input {
    margin: 10px;
    padding: 4px 6px;
    border: 0;
    font-size: 17px;
  }

  .search_bar {
    width: 75%;
  }
}
